@model WagWander.Models.MediaItem

@{
    ViewBag.Title = "Create Media Item";
}

<h2>Add Media</h2>

<form action="/MediaItem/Create" method="POST">
    <div>
        <label for="Title">Title:</label>
        <input class="form-control" type="text" name="Title" placeholder="Enter Title Here.(Ex: RAM)." />
    </div>
    <div>
        <label for="Description">Description:</label>
        <textarea class="form-control" name="Description" rows="5" cols="50" placeholder="Enter Description.."></textarea>
    </div>
    <div>
        <fieldset>
            <legend>Select Type</legend>
            <input type="radio" name=Type value="Game" id="GameRadio" /> <label for="GameRadio">Game</label>
            <input type="radio" name=Type value="Anime" id="AnimeRadio" /> <label for="AnimeRadio">Anime</label>
            <input type="radio" name=Type value="Tv Show" id="ShowRadio" /> <label for="ShowRadio">Tv Show</label>
            <input type="radio" name=Type value="Movie" id="MovieRadio" /> <label for="MovieRadio">Movie</label>
        </fieldset>
    </div>

    <div>
        <label for="Genre">Genre:</label>
        <input class="form-control" type="text" name="Genre" placeholder="Genre (Ex. Media)" />
    </div>
    <div>
        <label for="ReleaseDate">ReleaseDate:</label>
        <input class="form-control" type="date" name="ReleaseDate" />
    </div>

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownListFor(model => model.LocationId, (SelectList)ViewBag.Locations, "Select Location")
    @Html.ValidationMessageFor(model => model.LocationId)

    <button type="button" onclick="window.location.href='@Url.Action("Add", "Location")'" class="btn btn-info">Add New Location</button>

    <div>
        <input class="btn btn-success mt-3" type="submit" value="Add Media Item" />
    </div>
</form>

<div>
    <a class="mt-3 btn btn-dark" href="/MediaItem/List/">Back to List</a>
</div>
