@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h1 id="title" class="text-center">@ViewBag.Title</h1>
    <h3 class="text-center text-muted col-md-8 offset-md-2">@ViewBag.Message</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>
                    Welcome to "Wag Wander," an innovative platform that combines pet adoption, local exploration, and media tracking into a unified user experience. LifeExplorer allows users to adopt pets, discover pet-friendly local spots, and track media related to their interests, all within a single, cohesive application.
                </p>
            </div>
        </div>
    </div>
</main>
