
@{
    ViewBag.Title = "Volunteer";
}

<div class="custom-container">
    <h1 class="text-primary">@ViewBag.Title</h1>
    <p>Join our team of dedicated volunteers and make a difference in the lives of pets waiting for their forever homes.</p>

    <h2>Why Volunteer?</h2>
    <p>Volunteering at PawCare allows you to contribute to the well-being of pets and help them find loving homes.</p>

    <h2>How to Get Involved</h2>
    <ul>
        <li>Fill out our volunteer application form.</li>
        <li>Attend an orientation session to learn more about our mission and your role.</li>
        <li>Start volunteering at our events, shelters, or community outreach programs.</li>
    </ul>

    <h2>Volunteer Opportunities</h2>
    <ul>
        <li>Pet Care: Feeding, grooming, and exercising pets.</li>
        <li>Event Support: Assisting with adoption events and fundraisers.</li>
        <li>Administrative Help: Managing records, answering inquiries, and more.</li>
    </ul>

    <!--    <a href="@Url.Action("VolunteerForm", "Home")" class="btn btn-primary">Apply Now</a>-->
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back to Home</a>
</div>

